language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
before_install:
  - sudo apt-get update
install:
  - npm install -g grunt-cli
  - npm install -g bower
  - gem install sass
  - npm install
  - bower install
script:
  - grunt build